* {
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* section for styling the site header and title */
header {
    background: cornflowerblue;
    display: flex;
    flex-direction: row;
    height: 100px;
    text-align: center;
    justify-content: center;
}

h1 {
    display: flex;
    align-items: center;
    width: max-content;
}

/* section for styling main body elements */

p {
    margin-top: 10px;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

main {
    margin-left: 15px;
}

/* styles the aside element which contains the user input text box, search button, and history buttons */
aside {
    display: inline-flex;
    flex-direction: column;
    margin-top: 15px;
    width: 400px;
    height: max-content;
    margin-right: 15px;
}

button {
    background: cornflowerblue;
    border-radius: 8px;
}

/* adding hover effect to buttons to change cursor and opacity so indicate user is on button */
button:hover {
    opacity: 80%;
    cursor: pointer;
}

.searchHistoryBtns Button {
    width: 400px;
    height: 30px;
    font-size: medium;
    margin-top: 5px;
    background: lightblue;
}

.searchHistoryBtns {
    border-top: 3px solid;
    margin-top: 10px;
}

/*  styles form elements */

.form-body {
    height: max-content;
}

#cityInput {
    width: 396px;
    height: 30px;
    margin-top: 10px;
    font-size: large;
}

.btnSubmit {
    display: block;
    font-size: large;
    margin-top: 5px;
    width: 400px;
}

/* below styles the main content that displays the weather output */
.currentWeather img {
    display: flex;
    flex-direction: column;
}

.currentStats {
    display: flex;
    flex-direction: column;
}

.resultsBody {
    display: none;
    flex-direction: column;
}

/* currentWeather class displays the main current weather stats displayed */
.currentWeather {
    border: 3px solid cornflowerblue;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* styles the 5 day forecast section and elements */
.forecastSection {
    margin-top: 30px;
    display: none;
    flex-direction: column;
}

.forecastDays {
    display: flex;
    padding: 15px;
}

.forecastDays p {
    margin-right:10px;
}

/* styles each of the 5 day weather forecasts by day */
#forecast1 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px 5px 5px 0;
    background-color: aquamarine;
    align-items: center;
    width:fit-content;
}

#forecast2 {
    display: flex;
    flex-direction: column;
    margin: 5px 5px 5px 0;
    padding: 10px;
    background-color: aquamarine;
    align-items: center;
    width:fit-content;
}

#forecast3 {
    display: flex;
    flex-direction: column;
    margin: 5px 5px 5px 0;
    padding: 10px;
    background-color: aquamarine;
    align-items: center;
    width:fit-content;
}

#forecast4 {
    display: flex;
    flex-direction: column;
    margin: 5px 5px 5px 0;
    padding: 10px;
    background-color: aquamarine;
    align-items: center;
    width:fit-content;
}

#forecast5 {
    display: flex;
    flex-direction: column;
    margin: 5px 5px 5px 0;
    padding: 10px;
    background-color: aquamarine;
    align-items: center;
    width:fit-content;
}

/* setting element sizing for tablet size and below */
@media screen and (max-width: 1023px) {

    .currentWeather {
        max-width: 60%;
    }
    
    .forecastDays {
        display: flex;
        flex-direction: column;
    }

    #forecast5 {
        flex-direction: row;
        max-width: 100%;
    }

    #forecast4 {
        flex-direction: row;
        max-width: 100%;
    }

    #forecast3 {
        flex-direction: row;
        max-width: 100%;
    }

    #forecast2 {
        flex-direction: row;
        max-width: 100%;
    }

    #forecast1 {
        flex-direction: row;
        max-width: 100%;
    }
  }
  
  /* setting element sizing for mobile size and below */
  @media screen and (max-width: 600px) { 
    .currentWeather {
        max-width: 40%;
    }
  }